@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('image/img.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);

}

.container h1{
    font-size: 40px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 200px, 0;   
}

.input-box input{

    width: 100%;
    height: 0%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: rgb(223, 222, 222);
}

.input-box i{
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    transform: translateY(-15%);
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    accent-color: white;
    margin-right: 5px;
    
}

.remember-forgot a{ 
    text-decoration: none;
    color: white;
    font-weight: 600;
    
}
.remember-forgot a:hover{ 
    text-decoration: underline;
}

.login{

    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    background-color: white;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 7px;
    margin-bottom: 5px;

}
.login:hover{
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    transition: 0.5s;
}

.register-link{
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    
}
.register-link a{

    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register-link a:hover{

    text-decoration: underline
}